.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.render-canvas {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    cursor: none;
    object-fit: contain;

    transition: max-width 0.5s;
    transition: max-height 0.5s;

    @starting-style {
        max-width: 0%;
        max-height: 0%;
    }

}

/* #canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

#topbar {
    position: fixed;
    width: 100vw;
    height: 12vh;
    top: -12vh;
    background-color: rgb(225, 225, 225);
    z-index: 1;
    padding-bottom: 1px #989898 solid;
}