:root {
    font-family: 'Courier New', Courier, monospace;

    --sky-colour: #87CEEB;
}

* {
    box-sizing: content-box;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;

    background-color: #000;
}

.render-canvas {
    background-color: var(--sky-colour);
    width: auto;
    height: 100%;
    aspect-ratio: 16/9;
    cursor: none;
}

#canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}